
* {
    font-family: "Roboto", sans-serif;
}
p {
    font-size:22px;
}
#bold {
    font-family: "Roboto", sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #575656;
}
.container {
    width:100%;
    height:auto;
    background-color: rgb(218, 211, 209);
}

nav {
    background-color: #f1a536;
    height:110px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 2px solid white;
}
nav a {
    text-decoration: none;
    color: black;
}

body {
    background-color: mediumseagreen;
    margin: 0;
    padding: 0;
}

#paris {
    height:80px;
    width:200px
}
ul li {
    display:inline;
    margin: 20px;
    color:black;
}    
.mainimage {
    height: 560px;
    width: 100%;
    background-image: url("../images/hero-image.jpg");
    background-color: aqua;
    position: relative;
    background-size: cover;
}
.mainimage-recipe {
    height: 560px;
    width: 100%;
    background-image: url("../images/bengal-burger.jpg");
    background-color: aqua;
    position: relative; 
    background-repeat: no-repeat;
    background-size: cover;
}
.week {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold; 
    background-color:white;
    padding-inline:  20px;
}
.categories {
    background-color: white;
    width: 100%;
    padding: 20px 0;
    color: black;
    margin: 0;
    position: relative;
}
.recipes {
    background-color: rgb(218, 211, 209);
    height:auto;
    width:100%;
    position: relative;
    color:black
}
ul#recipe-img li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    height: 240px;
    width: 280px;
    position: relative;
}

.recipes img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
ul#recipe-img {
    display:flex;
    justify-content: center;
    margin:0px;
}
.recipes h3 {
    margin: 0;
    text-align: center;
    background-color: white;
    width: 100%; 
    position: absolute; 
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
}


#images {
    margin: 20px;
    color:black;
    display:flex;
    justify-content: center;
}
#images img {
    width:400px;
    height:240px;
    margin-inline: 20px;
}
.imagetext {
    display:flex;
    justify-content: center;
    margin:0px;
}
#images li {
    text-align:center;
}
.catcontent .cattext {
    margin-left: 120px;
    margin-top:10px;
}
.cattext p {
    margin-bottom: 0;
}
.cattext h1 {
    padding-top:20px;
}
.where {
    background-color: white;
    height:auto;
    width:100%;
    position: relative;
    color:black
}
.where img {
    width:200px;
    height:150px;
    border: solid rgb(218, 211, 209);
}
footer {
    background-color: #f1a536;
    height:110px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 2px solid white;
    position:relative;
}
p {
    color:black;
}
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        text-align: center;
        padding-left: 40px;

    }

.time-table {
    color: black;
    margin-left: 100px;
    margin-bottom: 40px;
}
.bengal {
    width: 95%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}
.burger {
    width: 100%;
    height: 260px;
    background-color: white;
    justify-content: center; 
    color:black; 
    text-align: center;
}
.burger h1 {
    font-size: 40px;
    margin: 0 auto;
    margin-top: 50px;
}
section {
    background-color: white;
    height:auto;
}
.checked {
    color:#a63223;
}
.stars-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.stars {
    display: flex;
}

.reviews {
    font-size: 14px;
    color: black;
    margin: 0;
}
button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #a63223;
    border-radius: 20px;
}
.button-print {
    margin: 20px;
}
.button-print i {
    margin-left: 30px;
    border: solid black 1px;
    border-radius: 50%;
}
.quote {
    background-color: rgb(218, 211, 209);
    height: auto;
    width: 80%;
    display: flex;
    margin: 0 auto;

}
.quote p {
    margin:40px;
    font-size: 25px;
    font-style: bold;
    margin-left: 130px;
    margin-right: 130px;
}
.bengal-text {
    background-color: white;
    height: auto;
    width: 78%;
    display: flex;
    margin: 0 auto;
    color: black;
    padding-bottom: 30px;
}
.ingredients {
    width:50%;
    height:auto;
    font-size:18px;
}
.directions {
    width:50%;
    height:auto;
}
.directions ol li {
    margin:20px;
    font-size;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.cattext p {
    width: 90%;
}