
.container {
    width:100%;
    height:200vh;
    background-color: coral;
}

nav {
    background-color: #f1a536;
    height:110px;
    display:flex;
    align-items: center; /* Centers items vertically */
    justify-content: space-between; /* Separates logo and nav items */
    padding: 0 50px;
    border-bottom: 2px solid white;
}

body {
    background-color: mediumseagreen;
    margin: 0;
    padding: 0;
}

#paris {
    height:120px;
}
ul li {
    display:inline;
    margin: 20px;
    color:black;
}    
.mainimage {
    height:560px;
    width:100%;
    background-image: url('/Users/acedavis/Desktop/project-folder/images/hero-image.jpg');
    background-size: cover;
}
.week {
    position: absolute; /* Positions it relative to .mainimage */
    top: 70%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjusts the position to truly center */
    color: black; /* Color of the text */
    font-weight: bold; /* Make it bold */
    background-color:white;
    padding-inline:  20px;
}
.categories {
    background-color:white;
    height:600px;
    width:100%;
    position: absolute;
    color:black;
}
#images {
    margin: 20px;
    color:black;
    display:flex;
    justify-content: center;
}
img {
    width:400px;
    height:240px;
    margin-inline: 20px;
}
.imagetext {
    display:flex;
    justify-content: center;
    margin:0px;
}
#images li {
    text-align:center;
}
.cattext {
    margin:25px;
}
.cattext p {

}
display:flex;
    justify-content: center;
    contain overflow
