
.container {
    width:100%;
    height:auto;
    background-color: rgb(218, 211, 209);
}

nav {
    background-color: #f1a536;
    height:110px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 2px solid white;
}

body {
    background-color: mediumseagreen;
    margin: 0;
    padding: 0;
}

#paris {
    height:80px;
    width:200px
}
ul li {
    display:inline;
    margin: 20px;
    color:black;
}    
.mainimage {
    height: 560px;
    width: 100%;
    background-image: url("../images/hero-image.jpg");
    background-color: aqua;
    position: relative;
}
.week {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold; 
    background-color:white;
    padding-inline:  20px;
}
.categories {
    background-color: white;
    width: 100%;
    padding: 20px 0;
    color: black;
    margin: 0; /* Ensure no extra margin */
    position: relative;
}
.recipes {
    background-color: rgb(218, 211, 209);
    height:auto;
    width:100%;
    position: relative;
    color:black
}
ul#recipe-img li {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    justify-content: flex-end; /* Align h3 to the bottom */
    margin: 20px; /* Space between items */
    height: 240px; /* Set height for equal-sized containers */
    width: 280px; /* Set width for equal-sized containers */
    position: relative; /* Allow absolute positioning inside */
}

.recipes img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
ul#recipe-img {
    display:flex;
    justify-content: center;
    margin:0px;
}
.recipes h3 {
    margin: 0;
    text-align: center;
    background-color: white;
    width: 100%; /* Full width of the container */
    position: absolute; /* Position the heading absolutely at the bottom */
    bottom: 0; /* Align to the bottom of the container */
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
}


#images {
    margin: 20px;
    color:black;
    display:flex;
    justify-content: center;
}
#images img {
    width:400px;
    height:240px;
    margin-inline: 20px;
}
.imagetext {
    display:flex;
    justify-content: center;
    margin:0px;
}
#images li {
    text-align:center;
}
.cattext {
    margin:25px 64px;
    
}
.cattext p {

}
.where {
    background-color: white;
    height:auto;
    width:100%;
    position: relative;
    color:black
}
.where img {
    width:200px;
    height:150px;
    border: solid rgb(218, 211, 209);
}
footer {
    background-color: #f1a536;
    height:110px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 2px solid white;
    position:relative;
}
p {
    color:black;
}
display:flex;
    justify-content: center;
    contain overflow:;

